{:phases [{:phase 0, :process-count 13, :wall-ms 24698} {:phase 1, :process-count 21, :wall-ms 129357}], :preparation {:command ["clojure" "-J-Xms64m" "-J-Xmx512m" "-Spath" "-M:clj-surgeon/test-deps"], :exit 0, :wall-ms 59}, :peak-worker-count 8, :wall-ms 154116}