{:phases [{:phase 0, :process-count 14, :wall-ms 23799} {:phase 1, :process-count 25, :wall-ms 128434}], :preparation {:command ["clojure" "-J-Xms64m" "-J-Xmx512m" "-Spath" "-M:clj-surgeon/test-deps"], :exit 0, :wall-ms 50}, :peak-worker-count 8, :wall-ms 152284}