{:phases [{:phase 0, :process-count 15, :wall-ms 25504} {:phase 1, :process-count 24, :wall-ms 132295}], :preparation {:command ["clojure" "-J-Xms64m" "-J-Xmx512m" "-Spath" "-M:clj-surgeon/test-deps"], :exit 0, :wall-ms 58}, :peak-worker-count 8, :wall-ms 157859}