{:receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.memory.oom-reproduction-test-bb-test.edn", :exit 1, :started-at "2026-09-12T19:10:56.863632533Z", :mode "test", :command ["bb" "-Xmx1g" "-Djava.io.tmpdir=/var/tmp/forge/bbtower-fx" "docs/observations/2026-09-12-bbtower-block-b/attempt22/portability_runner.clj" "bb" "clj-surgeon.memory.oom-reproduction-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.memory.oom-reproduction-test-bb-test.edn" "test"], :raw-receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.memory.oom-reproduction-test-bb-test.edn", :status :test-failed, :result {:test 2, :pass 0, :fail 0, :error 2, :type :summary}, :runtime :bb, :elapsed-ms 1217, :namespace clj-surgeon.memory.oom-reproduction-test, :subject "4492f9dff7419fccfe7ff9dfb3407e1fe9e44a5d\n"}