{:receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.mcp-compact-edit-fields-test-bb-test.edn", :exit 0, :started-at "2026-09-12T18:46:31.476637546Z", :mode "test", :command ["bb" "-Xmx1g" "-Djava.io.tmpdir=/var/tmp/forge/bbtower-fx" "docs/observations/2026-09-12-bbtower-block-b/attempt22/portability_runner.clj" "bb" "clj-surgeon.mcp-compact-edit-fields-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.mcp-compact-edit-fields-test-bb-test.edn" "test"], :raw-receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.mcp-compact-edit-fields-test-bb-test.edn", :status :passed, :result {:test 2, :pass 442, :fail 0, :error 0, :type :summary}, :runtime :bb, :elapsed-ms 11, :namespace clj-surgeon.mcp-compact-edit-fields-test, :subject "4492f9dff7419fccfe7ff9dfb3407e1fe9e44a5d\n"}