{:command ["clojure" "-J-Xmx1024m" "-J-Djava.io.tmpdir=/var/tmp/forge/regns-fx" "-Sdeps" "{:paths [\"src\" \"test\" \"dev/experiments\" \"docs/observations/2026-09-12-bbtower-block-b/attempt22\"]}" "-M:clj-surgeon/test-deps" "-m" "portability-runner" "jvm" "clj-surgeon.registration-controls-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.registration-controls-test-jvm-test.edn" "test"], :subject {:source-sha256 "713e34875347d3e02b29ddafd037939765b0f35615df4ec474608dc70bb6cb3c", :root "/home/forge/src/clj-surgeon-regns"}}
