{:namespace clj-surgeon.analyzer-contract-test, :runtime :bb, :mode "load", :started-at "2026-09-12T18:39:27.459544202Z", :elapsed-ms 158, :status :load-failed, :message "Could not locate nrepl/core.bb, nrepl/core.clj or nrepl/core.cljc on classpath.", :causes ["Could not locate nrepl/core.bb, nrepl/core.clj or nrepl/core.cljc on classpath."]}