{:receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.mcp-relation-census-launcher-test-bb-test.edn", :exit 1, :started-at "2026-09-12T19:02:14.923066329Z", :mode "test", :command ["bb" "-Xmx1g" "-Djava.io.tmpdir=/var/tmp/forge/bbtower-fx" "docs/observations/2026-09-12-bbtower-block-b/attempt22/portability_runner.clj" "bb" "clj-surgeon.mcp-relation-census-launcher-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.mcp-relation-census-launcher-test-bb-test.edn" "test"], :raw-receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.mcp-relation-census-launcher-test-bb-test.edn", :status :test-failed, :result {:test 5, :pass 141, :fail 38, :error 1, :type :summary}, :runtime :bb, :elapsed-ms 4319, :namespace clj-surgeon.mcp-relation-census-launcher-test, :subject "4492f9dff7419fccfe7ff9dfb3407e1fe9e44a5d\n"}