{:namespace clj-surgeon.namespace-split-test, :runtime :jvm, :mode "test", :started-at "2026-09-12T19:12:18.729510101Z", :elapsed-ms 4639, :status :passed, :result {:test 54, :pass 495, :fail 0, :error 0, :type :summary}}