{:receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.mission-phase-events-test-bb-load.edn", :exit 1, :started-at "2026-09-12T19:11:49.212926411Z", :mode "load", :command ["bb" "-Xmx1g" "-Djava.io.tmpdir=/var/tmp/forge/bbtower-fx" "docs/observations/2026-09-12-bbtower-block-b/attempt22/portability_runner.clj" "bb" "clj-surgeon.mission-phase-events-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.mission-phase-events-test-bb-load.edn" "load"], :raw-receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.mission-phase-events-test-bb-load.edn", :status :load-failed, :runtime :bb, :elapsed-ms 132, :namespace clj-surgeon.mission-phase-events-test, :subject "4492f9dff7419fccfe7ff9dfb3407e1fe9e44a5d\n", :message "Could not locate nrepl/core.bb, nrepl/core.clj or nrepl/core.cljc on classpath.", :causes ["Could not locate nrepl/core.bb, nrepl/core.clj or nrepl/core.cljc on classpath."]}