{:receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.edit-test-jvm-test.edn", :exit 0, :started-at "2026-09-12T18:41:11.857581150Z", :mode "test", :command ["clojure" "-J-Xmx1g" "-Sdeps" "{:paths [\"src\" \"test\" \"dev/experiments\" \"docs/observations/2026-09-12-bbtower-block-b/attempt22\"]}" "-M:clj-surgeon/test-deps" "-m" "portability-runner" "jvm" "clj-surgeon.edit-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.edit-test-jvm-test.edn" "test"], :raw-receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.edit-test-jvm-test.edn", :status :passed, :result {:test 37, :pass 450, :fail 0, :error 0, :type :summary}, :runtime :jvm, :elapsed-ms 9574, :namespace clj-surgeon.edit-test, :subject "4492f9dff7419fccfe7ff9dfb3407e1fe9e44a5d\n"}