{:namespace clj-surgeon.namespace-split-warm-test, :runtime :bb, :mode "load", :started-at "2026-09-12T19:12:20.323974361Z", :elapsed-ms 292, :status :load-failed, :message "Could not locate nrepl/server.bb, nrepl/server.clj or nrepl/server.cljc on classpath.", :causes ["Could not locate nrepl/server.bb, nrepl/server.clj or nrepl/server.cljc on classpath."]}