{:namespace clj-surgeon.mcp-helper-extraction-test, :runtime :bb, :mode "load", :started-at "2026-09-12T18:59:51.896759354Z", :elapsed-ms 200, :status :load-failed, :message "Could not locate nrepl/core.bb, nrepl/core.clj or nrepl/core.cljc on classpath.", :causes ["Could not locate nrepl/core.bb, nrepl/core.clj or nrepl/core.cljc on classpath."]}