{:receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.mission-plain-forms-test-bb-test.edn", :exit 0, :started-at "2026-09-12T19:11:53.092589169Z", :mode "test", :command ["bb" "-Xmx1g" "-Djava.io.tmpdir=/var/tmp/forge/bbtower-fx" "docs/observations/2026-09-12-bbtower-block-b/attempt22/portability_runner.clj" "bb" "clj-surgeon.mission-plain-forms-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.mission-plain-forms-test-bb-test.edn" "test"], :raw-receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.mission-plain-forms-test-bb-test.edn", :status :passed, :result {:test 8, :pass 53, :fail 0, :error 0, :type :summary}, :runtime :bb, :elapsed-ms 79, :namespace clj-surgeon.mission-plain-forms-test, :subject "4492f9dff7419fccfe7ff9dfb3407e1fe9e44a5d\n"}