{:namespace clj-surgeon.mcp-inspect-tool-test, :runtime :bb, :mode "load", :started-at "2026-09-12T18:59:59.651887869Z", :elapsed-ms 128, :status :load-failed, :message "Could not locate nrepl/core.bb, nrepl/core.clj or nrepl/core.cljc on classpath.", :causes ["Could not locate nrepl/core.bb, nrepl/core.clj or nrepl/core.cljc on classpath."]}