{:namespace clj-surgeon.mcp-http-server-test, :runtime :bb, :mode "load", :started-at "2026-09-12T18:59:52.271813714Z", :elapsed-ms 193, :status :load-failed, :message "Could not locate nrepl/core.bb, nrepl/core.clj or nrepl/core.cljc on classpath.", :causes ["Could not locate nrepl/core.bb, nrepl/core.clj or nrepl/core.cljc on classpath."]}