{:exit 0, :started-at "2026-09-14T11:10:54.304211854Z", :mode "test", :start-ticks 282245449, :command ["bb" "-Xmx1024m" "-Djava.io.tmpdir=/var/tmp/forge/regns-fx" "docs/observations/2026-09-12-bbtower-block-b/attempt22/portability_runner.clj" "bb" "clj-surgeon.registration-controls-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.registration-controls-test-bb-test.edn" "test"], :pid 3056012, :raw-receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.registration-controls-test-bb-test.edn", :status :passed, :result {:test 2, :pass 238, :fail 0, :error 0, :type :summary}, :runtime :bb, :wall-ms 90129.539411, :elapsed-ms 89920, :namespace clj-surgeon.registration-controls-test, :subject {:source-sha256 "713e34875347d3e02b29ddafd037939765b0f35615df4ec474608dc70bb6cb3c", :root "/home/forge/src/clj-surgeon-regns"}}
