{:receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.probe-state-test-jvm-test.edn", :exit 0, :started-at "2026-09-13T17:44:13.667905792Z", :mode "test", :command ["clojure" "-J-Xmx1g" "-Sdeps" "{:paths [\"src\" \"test\" \"dev/experiments\" \"docs/observations/2026-09-12-bbtower-block-b/attempt22\"]}" "-M:clj-surgeon/test-deps" "-m" "portability-runner" "jvm" "clj-surgeon.probe-state-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.probe-state-test-jvm-test.edn" "test"], :raw-receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.probe-state-test-jvm-test.edn", :status :passed, :result {:test 6, :pass 28, :fail 0, :error 0, :type :summary}, :runtime :jvm, :elapsed-ms 57897, :namespace clj-surgeon.probe-state-test, :subject "ed7e41caf28a8049b0813157f82c64a62ce1f972\n"}