{:command ["bb" "-Xmx1024m" "-Djava.io.tmpdir=/var/tmp/forge/regns-fx" "docs/observations/2026-09-12-bbtower-block-b/attempt22/portability_runner.clj" "bb" "clj-surgeon.test-registration-battery-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.test-registration-battery-test-bb-load.edn" "load"], :subject {:source-sha256 "7e7d360ab9b385caa8bc78cbbe56ebda6a80b0ff591f6f8e053897a03d023bc4", :root "/home/forge/src/clj-surgeon-regns"}}
