{:namespace clj-surgeon.mission-display-test, :runtime :bb, :mode "test", :started-at "2026-09-12T19:11:19.221691504Z", :elapsed-ms 5949, :status :test-failed, :result {:test 14, :pass 106, :fail 0, :error 3, :type :summary}}