{:command ["clojure" "-J-Xmx1024m" "-Sdeps" "{:paths [\"src\" \"test\" \"dev/experiments\" \"docs/observations/2026-09-12-bbtower-block-b/attempt22/\"]}" "-M:clj-surgeon/test-deps" "-m" "portability-runner" "jvm" "clj-surgeon.state-home-admission-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.state-home-admission-test-jvm-test.edn" "test"], :subject "097a7708ef9accb61d7ac192daf1b8ac80d9b22c\n"}