{:receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.require-change-test-jvm-test.edn", :exit 0, :started-at "2026-09-12T19:24:06.644815433Z", :mode "test", :command ["clojure" "-J-Xmx1g" "-Sdeps" "{:paths [\"src\" \"test\" \"dev/experiments\" \"docs/observations/2026-09-12-bbtower-block-b/attempt22\"]}" "-M:clj-surgeon/test-deps" "-m" "portability-runner" "jvm" "clj-surgeon.require-change-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.require-change-test-jvm-test.edn" "test"], :raw-receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.require-change-test-jvm-test.edn", :status :passed, :result {:test 9, :pass 120, :fail 0, :error 0, :type :summary}, :runtime :jvm, :elapsed-ms 3390, :namespace clj-surgeon.require-change-test, :subject "4492f9dff7419fccfe7ff9dfb3407e1fe9e44a5d\n"}