{:exit 0, :started-at "2026-09-14T11:53:32.193592691Z", :mode "test", :start-ticks 282506050, :command ["bb" "-Xmx1024m" "-Djava.io.tmpdir=/var/tmp/forge/regns-fx" "docs/observations/2026-09-12-bbtower-block-b/attempt22/portability_runner.clj" "bb" "clj-surgeon.test-registration-battery-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.test-registration-battery-test-bb-test.edn" "test"], :pid 21027, :raw-receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.test-registration-battery-test-bb-test.edn", :status :passed, :result {:test 1, :pass 251, :fail 0, :error 0, :type :summary}, :runtime :bb, :wall-ms 42041.227597, :elapsed-ms 41805, :namespace clj-surgeon.test-registration-battery-test, :subject {:source-sha256 "7e7d360ab9b385caa8bc78cbbe56ebda6a80b0ff591f6f8e053897a03d023bc4", :root "/home/forge/src/clj-surgeon-regns"}}
