{:namespace clj-surgeon.workspace-onboarding-test, :runtime :jvm, :mode "test", :started-at "2026-09-12T19:26:20.555901053Z", :elapsed-ms 2809, :status :passed, :result {:test 17, :pass 95, :fail 0, :error 0, :type :summary}}