{:receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.move-dependency-test-bb-test.edn", :exit 0, :started-at "2026-09-12T19:12:06.188259835Z", :mode "test", :command ["bb" "-Xmx1g" "-Djava.io.tmpdir=/var/tmp/forge/bbtower-fx" "docs/observations/2026-09-12-bbtower-block-b/attempt22/portability_runner.clj" "bb" "clj-surgeon.move-dependency-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.move-dependency-test-bb-test.edn" "test"], :raw-receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.move-dependency-test-bb-test.edn", :status :passed, :result {:test 23, :pass 100, :fail 0, :error 0, :type :summary}, :runtime :bb, :elapsed-ms 145, :namespace clj-surgeon.move-dependency-test, :subject "4492f9dff7419fccfe7ff9dfb3407e1fe9e44a5d\n"}