{:namespace clj-surgeon.mcp-relation-census-round20-test, :runtime :bb, :mode "load", :started-at "2026-09-12T19:02:15.247004667Z", :elapsed-ms 229, :status :load-failed, :message "Could not locate com/climate/claypoole.bb, com/climate/claypoole.clj or com/climate/claypoole.cljc on classpath.", :causes ["Could not locate com/climate/claypoole.bb, com/climate/claypoole.clj or com/climate/claypoole.cljc on classpath."]}