{:command ["clojure" "-J-Xmx1024m" "-M:clj-surgeon/test-deps" "-e" "(require 'clojure.test 'clj-surgeon.battery-state-admission-test) (let [r (clojure.test/run-tests 'clj-surgeon.battery-state-admission-test) row {:namespace 'clj-surgeon.battery-state-admission-test :runtime :jvm :mode \"test\" :status (if r (if (zero? (+ (:fail r) (:error r))) :passed :test-failed) :loaded) :result r}] (spit \"docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.battery-state-admission-test-jvm-test.edn\" (pr-str row)) (shutdown-agents) (System/exit (if (or (nil? r) (zero? (+ (:fail r) (:error r)))) 0 1)))"], :subject "71a0e778bad3559b832700f42003c1d90dda10fb", :patch-sha256 "98c016728fe564e0a4dc43f9094c4a62df46f172acba751cd0099bffae791550  /var/tmp/forge/ledger-fx/round2-control-subject.patch", :started "2026-09-14T06:16:03.735077340Z", :environment {"TMPDIR" "/var/tmp/forge/ledger-fx", "JAVA_TOOL_OPTIONS" "-Xmx1024m -Djava.io.tmpdir=/var/tmp/forge/ledger-fx"}}