{:command ["bb" "-Djava.io.tmpdir=/var/tmp/forge/impact-fx" "-e" "(require 'clj-surgeon.diff-impact-test 'clojure.test) (let [r (clojure.test/run-tests 'clj-surgeon.diff-impact-test)] (spit \"/var/tmp/forge/impact-fx/clj-surgeon.diff-impact-test-bb-test.edn\" (pr-str r)) (shutdown-agents) (System/exit (if (zero? (+ (:fail r) (:error r))) 0 1)))"], :source-sha256 {"src/clj_surgeon/diff_impact.clj" "ca14d5b0d777b58bcf4960dff93d12137ce9072a3500a68a7735d0f42a7f1297", "test/diff_impact.clj" "7d24fe9f61d639192088215e5c15310a3e51b486abd108d6f44015a699ad1c7c", "test/clj_surgeon/diff_impact_test.clj" "7f6ebf40283b9e4b6c027cbb51da31c397d756ae955dfd7500eee132fd8b190b"}, :subject "e3e93f33e9abc208d8f7f7e577f9e64a9ae908d4", :started "2026-09-14T09:37:53.058707+00:00", :elapsed-ms 1318, :exit 0}