{:receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.owner-hypotheses-test-jvm-test.edn", :exit 0, :started-at "2026-09-12T19:13:27.970428061Z", :mode "test", :command ["clojure" "-J-Xmx1g" "-Sdeps" "{:paths [\"src\" \"test\" \"dev/experiments\" \"docs/observations/2026-09-12-bbtower-block-b/attempt22\"]}" "-M:clj-surgeon/test-deps" "-m" "portability-runner" "jvm" "clj-surgeon.owner-hypotheses-test" "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.owner-hypotheses-test-jvm-test.edn" "test"], :raw-receipt "docs/observations/2026-09-12-bbtower-block-b/attempt22/controls/clj-surgeon.owner-hypotheses-test-jvm-test.edn", :status :passed, :result {:test 11, :pass 74, :fail 0, :error 0, :type :summary}, :runtime :jvm, :elapsed-ms 1246, :namespace clj-surgeon.owner-hypotheses-test, :subject "4492f9dff7419fccfe7ff9dfb3407e1fe9e44a5d\n"}