{:phases [{:phase 0, :process-count 14, :wall-ms 24081} {:phase 1, :process-count 24, :wall-ms 131848}], :preparation {:command ["clojure" "-J-Xms64m" "-J-Xmx512m" "-Spath" "-M:clj-surgeon/test-deps"], :exit 0, :wall-ms 53}, :peak-worker-count 8, :wall-ms 155983}