{:problems [], :measurements {:makespan-ms 94434, :lane-sums-ms {:fast 45031, :integration 67598}, :runtime-sums-ms {:bb 8131, :jvm 104498}}, :state :failed, :leak-failures 0, :result {:test 1420, :pass 16487, :fail 0, :error 0}, :wall-ms 94434, :suite "mcp", :source-digest "60b573b5d2693d14703925855429ab0733ad0d264647346b22a58538cf2c5384", :isolation-failures 4}
{:problems [], :measurements {:makespan-ms 92619, :lane-sums-ms {:fast 3565, :battery 245861}, :runtime-sums-ms {:bb 243350, :jvm 6076}}, :state :passed, :leak-failures 0, :result {:test 902, :pass 8029, :fail 0, :error 0}, :wall-ms 92619, :suite "bb", :source-digest "60b573b5d2693d14703925855429ab0733ad0d264647346b22a58538cf2c5384", :isolation-failures 0}
{:problems [], :measurements {:makespan-ms 94691, :lane-sums-ms {:battery 86371}, :runtime-sums-ms {:jvm 86371}}, :state :passed, :leak-failures 0, :result {:test 182, :pass 3662, :fail 0, :error 0}, :wall-ms 94691, :suite "alias", :source-digest "60b573b5d2693d14703925855429ab0733ad0d264647346b22a58538cf2c5384", :isolation-failures 0}
