{:namespaces [clj-surgeon.reader-eval-fence-test], :runs [{:var-walls-ms {no-real-launcher-follows-a-build-file-path-out-of-the-tree 134898}, :expected-vars [no-real-launcher-follows-a-build-file-path-out-of-the-tree], :counters {:test 1, :pass 28, :fail 0, :error 0}, :sharded true, :executed-vars [no-real-launcher-follows-a-build-file-path-out-of-the-tree], :elapsed-ms 135167, :violations [], :namespace clj-surgeon.reader-eval-fence-test, :vars [no-real-launcher-follows-a-build-file-path-out-of-the-tree]}], :result {:test 1, :pass 28, :fail 0, :error 0}, :notes {}, :leak-fail 0}