{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        rewrite-clj/rewrite-clj {:mvn/version "1.2.50"}}
 :aliases {:test {:extra-paths ["test"] :main-opts ["-m" "clj-splice.test-runner"]}}}
