{:phases [{:phase 0, :process-count 14, :wall-ms 23780} {:phase 1, :process-count 24, :wall-ms 128837}], :preparation {:command ["clojure" "-J-Xms64m" "-J-Xmx512m" "-Spath" "-M:clj-surgeon/test-deps"], :exit 0, :wall-ms 51}, :peak-worker-count 8, :wall-ms 152669}