{:namespaces [clj-surgeon.insert-forms-test], :runs [{:namespace clj-surgeon.insert-forms-test, :counters {:test 7, :pass 98, :fail 0, :error 0}, :expected-vars [insert-forms-body-anchor insert-forms-candidate-structure-refuses insert-forms-exact-root-anchor insert-forms-layout-literal-preservation insert-forms-other-top-level-hashes insert-forms-parse-stages insert-forms-payload-count-and-order], :executed-vars [insert-forms-body-anchor insert-forms-candidate-structure-refuses insert-forms-exact-root-anchor insert-forms-layout-literal-preservation insert-forms-other-top-level-hashes insert-forms-parse-stages insert-forms-payload-count-and-order], :elapsed-ms 2519, :violations []}], :result {:test 7, :pass 98, :fail 0, :error 0}, :notes {}, :leak-fail 0}