{:namespace clj-surgeon.worktree-lifecycle-prune-test, :runtime :bb, :mode "test", :started-at "2026-09-12T20:02:00.848027012Z", :elapsed-ms 1895, :status :test-failed, :result {:test 24, :pass 62, :fail 20, :error 0, :type :summary}}