{:started "2026-09-12T20:01:48.444532419Z", :receipt "docs/observations/2026-09-12-bbtower-block-b/attempt23/controls/clj-surgeon.cljc.merge-test-bb-test.edn", :exit 0, :started-at "2026-09-12T20:01:48.535430997Z", :mode "test", :command ["bb" "-Xmx1g" "-Djava.io.tmpdir=/var/tmp/forge/bbtower-fx" "docs/observations/2026-09-12-bbtower-block-b/attempt22/portability_runner.clj" "bb" "clj-surgeon.cljc.merge-test" "docs/observations/2026-09-12-bbtower-block-b/attempt23/controls/clj-surgeon.cljc.merge-test-bb-test.edn" "test"], :status :passed, :result {:test 14, :pass 26, :fail 0, :error 0, :type :summary}, :runtime :bb, :elapsed-ms 20, :namespace clj-surgeon.cljc.merge-test, :subject "70b5db1182d8e26427ceb64e288ef7a3ea12d183"}