{:command ["bb" "-Xmx1g" "-Djava.io.tmpdir=/var/tmp/forge/bbtower-fx" "docs/observations/2026-09-12-bbtower-block-b/attempt22/portability_runner.clj" "bb" "clj-surgeon.cljc.split-test" "docs/observations/2026-09-12-bbtower-block-b/attempt23/controls/clj-surgeon.cljc.split-test-bb-test.edn" "test"], :subject "70b5db1182d8e26427ceb64e288ef7a3ea12d183", :started "2026-09-12T20:01:54.187572562Z"}