{:runtime :bb, :namespace clj-surgeon.battery-parallel-test, :elapsed-ms 35, :result {:test 41, :pass 275, :fail 0, :error 0, :type :summary}, :tmpdir "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-1233720-24a0852c", :home "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-1233720-24a0852c/home"}