{:runtime :bb, :namespace clj-surgeon.mission-typist-test, :elapsed-ms 21, :result {:test 6, :pass 199, :fail 0, :error 0, :type :summary}, :tmpdir "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-2907135-c8b5add8", :home "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-2907135-c8b5add8/home"}