{:runtime :jvm, :namespace clj-surgeon.quoted-var-refs-test, :elapsed-ms 80, :result {:test 5, :pass 36, :fail 0, :error 0, :type :summary}, :tmpdir "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-3001742-30fa176b", :home "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-3001742-30fa176b/home"}