{:runtime :jvm, :namespace clj-surgeon.mission-candidate-test, :elapsed-ms 16, :result {:test 5, :pass 58, :fail 0, :error 0, :type :summary}, :tmpdir "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-2873202-be633c62", :home "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-2873202-be633c62/home"}