{:runtime :bb, :namespace clj-surgeon.insert-forms-test, :elapsed-ms 5126, :result {:test 7, :pass 98, :fail 0, :error 0, :type :summary}, :tmpdir "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-1275877-4f8cd42e", :home "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-1275877-4f8cd42e/home"}