{:runtime :bb, :namespace clj-surgeon.mission-git-test, :elapsed-ms 1, :result {:test 4, :pass 27, :fail 0, :error 0, :type :summary}, :tmpdir "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-2895450-91d4b3de", :home "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-2895450-91d4b3de/home"}