{:runtime :bb, :namespace clj-surgeon.workspace-onboarding-test, :elapsed-ms 114, :result {:test 17, :pass 95, :fail 0, :error 0, :type :summary}, :tmpdir "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-3161671-ae22736d", :home "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-3161671-ae22736d/home"}