{:runtime :bb, :namespace clj-surgeon.helper-extraction-test, :elapsed-ms 792, :result {:test 34, :pass 440, :fail 0, :error 0, :type :summary}, :tmpdir "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-1252821-80a95b09", :home "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-1252821-80a95b09/home"}