{:runtime :jvm, :namespace clj-surgeon.mission-plain-forms-test, :elapsed-ms 92, :result {:test 8, :pass 53, :fail 0, :error 0, :type :summary}, :tmpdir "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-2899861-9b8067bc", :home "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-2899861-9b8067bc/home"}