{:runtime :jvm, :namespace clj-surgeon.rename-alias-receipt-test, :elapsed-ms 461, :result {:test 1, :pass 59, :fail 0, :error 0, :type :summary}, :tmpdir "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-3015033-eb3e2130", :home "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-3015033-eb3e2130/home"}