{:runtime :jvm, :namespace clj-surgeon.split-proof-gate-test, :elapsed-ms 27, :result {:test 4, :pass 31, :fail 0, :error 0, :type :summary}, :tmpdir "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-3139216-68d2459f", :home "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-3139216-68d2459f/home"}