{:runtime :jvm, :namespace clj-surgeon.battery-parallel-test, :elapsed-ms 967, :result {:test 41, :pass 275, :fail 0, :error 0, :type :summary}, :tmpdir "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-1224919-b0f72295", :home "/var/tmp/forge/bbtower-fx/clj-surgeon-suite-1224919-b0f72295/home"}