{:namespaces [clj-surgeon.outline-corpus-integration-test], :runs [{:namespace clj-surgeon.outline-corpus-integration-test, :counters {:test 1, :pass 2, :fail 0, :error 0}, :expected-vars [single-parse-outline-is-byte-identical-over-the-repository], :executed-vars [single-parse-outline-is-byte-identical-over-the-repository], :elapsed-ms 8660, :violations []}], :result {:test 1, :pass 2, :fail 0, :error 0}, :notes {}, :leak-fail 0}