{:phases [{:phase 0, :process-count 12, :wall-ms 22712} {:phase 1, :process-count 21, :wall-ms 129044}], :preparation {:command ["clojure" "-J-Xms64m" "-J-Xmx512m" "-Spath" "-M:clj-surgeon/test-deps"], :exit 0, :wall-ms 51}, :peak-worker-count 8, :wall-ms 151808}