{:phases [{:phase 0, :process-count 15, :wall-ms 25857} {:phase 1, :process-count 23, :wall-ms 132162}], :preparation {:command ["clojure" "-J-Xms64m" "-J-Xmx512m" "-Spath" "-M:clj-surgeon/test-deps"], :exit 0, :wall-ms 51}, :peak-worker-count 8, :wall-ms 158072}